body{
  overflow-x: scroll;
  overflow: hidden;
}


.App{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.clock-container{
  margin: auto;
  border: 0.5em rgb(197, 154, 62) solid;
}